* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(WinkyRough-VariableFont_wght.ttf);
}

@font-face {
    font-family: special;
    src: url(SpecialGothicExpandedOne-Regular.ttf);
}

body,
head {
    background-color: black;
    color: white;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw;
    position: static;
}

nav .logo img {
    height: 130px;
    width: 130px;
    transition: filter 0.1s ease;
    /* margin-top: 10px; */
    position: relative;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
    
}

nav .logo img:hover {
    filter: drop-shadow(0 0 10px rgb(114, 113, 113));
}

nav .pagesLink ul {
    display: flex;
    gap: 5vw;
    list-style-type: none;
    padding: 0;
}

nav .pagesLink ul li a {
    color: white;
    text-decoration: none;
    font-family: myfont;
    font-size: 1.5vw;
    font-weight: lighter;
    position: relative;
    display: inline-block;
}

nav .pagesLink ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 50VW;
    width: 0;
    transition: width 0.5s ease-in;
    background-color: #2200ff;
}

nav .pagesLink ul li a:hover::after {
    width: 100%;
}

nav .hireMe button {
    padding: .6vw 1.8vw;
    font-size: 1.2vw;
    font-family: myfont;
    border: none;
    border-radius: 4px;
    background-color: #1b1917;
    animation: glow 2s infinite;
    border: 2px solid white;
}
@keyframes glow {
    /* #0ff */
    0% {
      box-shadow: 0 0 5px white, 0 0 10px white;
    }
    50% {
      box-shadow: 0 0 15px white, 0 0 30px white;
    }
    100% {
      box-shadow: 0 0 5px white, 0 0 10px white;
    }
  }
nav .hireMe button:hover{
    background-image: linear-gradient(to right, rgb(251, 100, 100),#09256E);
    box-shadow: none;
}

nav .hireMe button span {
    color: red;
    font-weight: bolder;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0vw 4vw;
    align-items: center;
    position: static;
}

.hero .hero-image {
    position: relative;
}

.hero .hero-image img {
    display: flex;
    justify-content: baseline;
    height: 600px;
    transform: scaleX(-1);
    filter: drop-shadow(0 0 100px #5c5656);
    position: relative;
    top: 30px;
}

.hero .intro {
    padding-left: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 1.5pc;

}

.hero .intro span {
    font-weight: bold;
    color: red;
    position: relative;
    display: inline-block;
}

.hero .intro span {
    position: relative;
    /* Needed for ::after to be positioned correctly */
    display: inline-block;
}

.hero .intro span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50vw;
    background-image: url('rocket.png');
    /* Corrected path */
    background-size: cover;
    background-repeat: no-repeat;
    animation: underline 5s ease forwards;
    transform: rotate(45deg);
}

@keyframes underline {
    to {
        left: 280px;
        transform: translateX(100%) rotate(0deg);
    }
}


.hero .intro button {
    margin: 2pc 0px 0px 0px;
    padding: .6vw 1.6vw;
    background-color:  #49c5b6;
    border: none;
    border-radius: 1pc;
    font-size: 1vw;
    font-family: myfont;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.skill_outbox {
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5vw 12vw;
    margin-top: 20px;
}

.skill #cpp_card {
    background-image: url(./skill_card/cpp.jpg);
}

.skill #javaScript_card {
    background-image: url(./skill_card/js.png);
}

.skill #sql_card {
    background-image: url(./skill_card/sql.png);
}

.skill #html_card {
    background-image: url(./skill_card/html.png);
}

.skill #css_card {
    background-image: url(./skill_card/css.jpg);
}

.skill #figma_card {
    background-image: url(./skill_card/figma.jpg);
    scale: 1.5;
}

.skill #python_card {
    background-image: url(./skill_card/python.png);
}

.skill #gitGithub_card {
    background-image: url(./skill_card/github.jpg);
    height: 100px;
    scale: 1.5;
}

.skill #bootstrap_card {
    background-image: url(./skill_card/bootstrap.jpg);
}

.skill #react_card {
    background-image: url(./skill_card/react.jpg);
}

.skill #tailwindCss_card {
    background-image: url(./skill_card/tailwind.webp);
}

.skill .skill_card {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    transition: filter 0.1s ease;
}

.skill .skill_card:hover {
    transform:scale(1.2);
    filter: drop-shadow(0 0 10px #ffffff);
}


.education-section-outer{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-section{
    height: 80%;
    width: 80%;
    background-image: url(projects.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 1vw;
    box-shadow: 0px 0px 50px rgb(148, 125, 125);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.education-section-outer .education-section .edu_class{
    height: 50%;
    width: 30%;
    text-align: center;
    padding:20px 0px 20px 0px;
    background-color: rgba(255, 255, 255, 0.445);
}

.education-section-outer .education-section .edu_class h1{
    color: black !important
}
.education-section-outer .education-section .edu_class h1 sup{
    color: red;
    font-size: small;
}